body {
    background-color: black;
    margin: 0 auto;
    text-align: center;
    width: 800px;
}

.house-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.house {
    position: relative;
    width: 400px;
    height: 400px;
}

.roof {
    width: 100%;
    height: 200px;
    background-color: brown;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: bottom center;
    transform: skewY(-45deg);
}

.chimney {
    width: 40px;
    height: 100px;
    background-color: orange;
    position: absolute;
    top: -143px;
    left: 100px;
}

.walls {
    width: 600px;
    height: 400px;
    background-color: orange;
    position: absolute;
    bottom: 0;
}

.window--section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.window {
    width: 60px;
    height: 60px;
    background-color: darkblue;
    margin: 10px;
}

.door {
    width: 110px;
    height: 162px;
    background-color: chocolate;
    position: absolute;
    bottom: 0;
    left: 60%;
}

.handle {
    width: 16px;
    height: 16px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 8px);
    right: 20px;
}

.triangle {
    position: absolute;
    top: 17px;
    left: 18%;
    width: 0;
    height: 0;
    border-left: 354px solid transparent;
    border-right: 354px solid transparent;
    border-bottom: 180px solid orange;
}